USE [trimatrixlab_CV]
GO
/****** Object:  Table [dbo].[tbAbout]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAbout](
	[IDAbout] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Contents] [nvarchar](150) NULL,
	[Email] [varchar](50) NULL,
	[Web] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Descriptions] [nvarchar](max) NULL,
	[ZipCode] [varchar](20) NULL,
	[Image] [varchar](max) NULL,
	[Link] [varchar](150) NULL,
	[MoTaInterest] [nvarchar](max) NULL,
	[Poster] [varchar](150) NULL,
 CONSTRAINT [PK_tbAbout] PRIMARY KEY CLUSTERED 
(
	[IDAbout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbContact]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbContact](
	[IDContact] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](150) NULL,
	[Phone] [nvarchar](11) NULL,
	[Email] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbContact] PRIMARY KEY CLUSTERED 
(
	[IDContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbEducation]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbEducation](
	[IDEducation] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](150) NULL,
	[TieuDeCon] [nvarchar](150) NULL,
	[MoTa] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[HinhAnh] [varchar](150) NULL,
	[Icon] [varchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbEducation] PRIMARY KEY CLUSTERED 
(
	[IDEducation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbExperience]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbExperience](
	[IDExperience] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](150) NULL,
	[TieuDeCon] [nvarchar](150) NULL,
	[MoTa] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[HinhAnh] [varchar](150) NULL,
	[Icon] [varchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbExperience] PRIMARY KEY CLUSTERED 
(
	[IDExperience] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGrPortfolios]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGrPortfolios](
	[IDGrPortfolios] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbGrPortfolios] PRIMARY KEY CLUSTERED 
(
	[IDGrPortfolios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGrSkills]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGrSkills](
	[IDGrSkill] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_GrSkills] PRIMARY KEY CLUSTERED 
(
	[IDGrSkill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbInterest]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbInterest](
	[IDInterest] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [varchar](150) NULL,
	[TenIcon] [varchar](150) NULL,
	[Background] [varchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbInterest] PRIMARY KEY CLUSTERED 
(
	[IDInterest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPortfolios]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPortfolios](
	[IDPortfolio] [int] IDENTITY(1,1) NOT NULL,
	[IDGrPortfolio] [int] NULL,
	[TieuDe] [nvarchar](150) NULL,
	[Portfolio] [nvarchar](150) NULL,
	[Image] [varchar](150) NULL,
	[Link] [varchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbPortfolios] PRIMARY KEY CLUSTERED 
(
	[IDPortfolio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSkills]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSkills](
	[IDSkill] [int] IDENTITY(1,1) NOT NULL,
	[IDGrSkill] [int] NULL,
	[Ten] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](300) NULL,
	[PhanTram] [int] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbSkills] PRIMARY KEY CLUSTERED 
(
	[IDSkill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSliderIcons]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSliderIcons](
	[IDSliderIcon] [int] IDENTITY(1,1) NOT NULL,
	[HinhAnh] [varchar](150) NULL,
	[TieuDe] [nvarchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbSliderIcons] PRIMARY KEY CLUSTERED 
(
	[IDSliderIcon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSocial]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSocial](
	[IDSocial] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](150) NULL,
	[LinkSocial] [varchar](150) NULL,
	[Button] [varchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbSocial] PRIMARY KEY CLUSTERED 
(
	[IDSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbStory]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbStory](
	[IDStory] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [varchar](150) NULL,
	[Link] [varchar](150) NULL,
	[Ten] [nvarchar](150) NULL,
	[NgayDang] [date] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbStory] PRIMARY KEY CLUSTERED 
(
	[IDStory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTestimonials]    Script Date: 2/25/2025 12:59:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTestimonials](
	[IDTestimonial] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](150) NULL,
	[Ten] [nvarchar](150) NULL,
	[MoTa] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [varchar](150) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_tbTestimonials] PRIMARY KEY CLUSTERED 
(
	[IDTestimonial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbAbout] ON 

INSERT [dbo].[tbAbout] ([IDAbout], [Name], [Contents], [Email], [Web], [Address], [Phone], [DateOfBirth], [Descriptions], [ZipCode], [Image], [Link], [MoTaInterest], [Poster]) VALUES (2, N'LaLa Chung', N'ewqe132', N'lala@gmail.com', N'lalacutephomaique.wordpress.com', N'asbdas 12', N'0987654321                                        ', CAST(N'2003-11-17' AS Date), N'ádass', N'213hsa', N'/files/aboutus/2024/10/about.jpg', N'https://www.dienmayxanh.com/vao-bep/8-cach-lam-oc-hap-sa-thom-ngon-kho-cuong-cuc-don-gian-11221', N'dsadasas', N'/files/aboutus/2024/10/work-2.jpg')
INSERT [dbo].[tbAbout] ([IDAbout], [Name], [Contents], [Email], [Web], [Address], [Phone], [DateOfBirth], [Descriptions], [ZipCode], [Image], [Link], [MoTaInterest], [Poster]) VALUES (3, N'ád', N'ewq2231', N'taicq21@uef.edu.vn', N'lalacutephomaique.wordpress.com', N'dsad', N'2143411412                                        ', CAST(N'2003-11-17' AS Date), N'ưewq', N'eqwe123', N'/files/aboutus/2024/10/bg_2.jpg', N'https://www.dienmayxanh.com', N'ewqeqweqw', N'/files/aboutus/2024/10/work-8.jpg')
SET IDENTITY_INSERT [dbo].[tbAbout] OFF
GO
SET IDENTITY_INSERT [dbo].[tbContact] ON 

INSERT [dbo].[tbContact] ([IDContact], [Ten], [Phone], [Email], [NoiDung], [Hide]) VALUES (1, N'abc123', N'0987654321', N'taicq21@uef.edu.vn', N'đâsd', NULL)
INSERT [dbo].[tbContact] ([IDContact], [Ten], [Phone], [Email], [NoiDung], [Hide]) VALUES (2, N'đâs', N'097897867', N'lala@gmail.com', N'dsadas', NULL)
INSERT [dbo].[tbContact] ([IDContact], [Ten], [Phone], [Email], [NoiDung], [Hide]) VALUES (3, N'sada', N'08490978', N'lala@gmail.com', N'đâs', NULL)
SET IDENTITY_INSERT [dbo].[tbContact] OFF
GO
SET IDENTITY_INSERT [dbo].[tbEducation] ON 

INSERT [dbo].[tbEducation] ([IDEducation], [TieuDe], [TieuDeCon], [MoTa], [NoiDung], [NgayBatDau], [NgayKetThuc], [HinhAnh], [Icon], [Hide]) VALUES (1, N'KHUYẾN MÃI 99%', N'123', N'<p><strong>123wqeq</strong></p>
', N'<p><strong><em>dfsjdfdklfk</em></strong></p>
', CAST(N'2023-12-10' AS Date), CAST(N'2024-05-10' AS Date), N'/files/AEducations/2024/10/bg_2.jpg', N'/files/AExperiences/2024/10/author.png', 0)
INSERT [dbo].[tbEducation] ([IDEducation], [TieuDe], [TieuDeCon], [MoTa], [NoiDung], [NgayBatDau], [NgayKetThuc], [HinhAnh], [Icon], [Hide]) VALUES (2, N'bec', N'234', N'<p><strong>ffgsdg</strong></p>
', N'<p><em>dsadfas</em></p>
', CAST(N'2024-09-10' AS Date), CAST(N'2024-11-25' AS Date), N'/files/AEducations/2024/10/image_2.jpg', N'/files/AExperiences/2024/10/author.png', 0)
INSERT [dbo].[tbEducation] ([IDEducation], [TieuDe], [TieuDeCon], [MoTa], [NoiDung], [NgayBatDau], [NgayKetThuc], [HinhAnh], [Icon], [Hide]) VALUES (3, N'fdsfsd', N'345', N'<p><strong>ffgsdg</strong></p>', N'dsadas', CAST(N'2019-10-10' AS Date), CAST(N'2020-01-23' AS Date), N'/files/AEducations/2024/10/image_2.jpg', N'/files/AExperiences/2024/10/author.png', 1)
SET IDENTITY_INSERT [dbo].[tbEducation] OFF
GO
SET IDENTITY_INSERT [dbo].[tbExperience] ON 

INSERT [dbo].[tbExperience] ([IDExperience], [TieuDe], [TieuDeCon], [MoTa], [NoiDung], [NgayBatDau], [NgayKetThuc], [HinhAnh], [Icon], [Hide]) VALUES (1, N'KHUYẾN MÃI 100%', N'123', N'<p><strong>&nbsp;asdfas fsadfsd</strong></p>
', N'<p><em>f1</em></p>
', CAST(N'2012-11-27' AS Date), CAST(N'2015-12-27' AS Date), N'/files/AExperiences/2024/10/author.png', N'/files/AExperiences/2024/10/author.png', 0)
INSERT [dbo].[tbExperience] ([IDExperience], [TieuDe], [TieuDeCon], [MoTa], [NoiDung], [NgayBatDau], [NgayKetThuc], [HinhAnh], [Icon], [Hide]) VALUES (2, N'KHUYẾN MÃI 99%', N'234', N'<p><strong>fsdfd</strong></p>
', N'<p><strong>dasfa2</strong></p>
', CAST(N'2021-10-10' AS Date), CAST(N'2024-10-20' AS Date), N'/files/AExperiences/2024/10/client-1.png', N'/files/AExperiences/2024/10/blog-3.png', 0)
INSERT [dbo].[tbExperience] ([IDExperience], [TieuDe], [TieuDeCon], [MoTa], [NoiDung], [NgayBatDau], [NgayKetThuc], [HinhAnh], [Icon], [Hide]) VALUES (3, N'Professional', N'345', N'<p><strong>fasf</strong></p>
', N'<p><em>dsadasdas3</em></p>
', CAST(N'2010-01-01' AS Date), CAST(N'2020-12-10' AS Date), N'/files/AExperiences/2024/10/demo-gra.jpg', N'/files/AExperiences/2024/10/heart.png', 0)
SET IDENTITY_INSERT [dbo].[tbExperience] OFF
GO
SET IDENTITY_INSERT [dbo].[tbGrPortfolios] ON 

INSERT [dbo].[tbGrPortfolios] ([IDGrPortfolios], [TieuDe], [Hide]) VALUES (1, N'LOGO', 0)
INSERT [dbo].[tbGrPortfolios] ([IDGrPortfolios], [TieuDe], [Hide]) VALUES (2, N'DRIBBLE', 0)
INSERT [dbo].[tbGrPortfolios] ([IDGrPortfolios], [TieuDe], [Hide]) VALUES (3, N'WEBSITES', 0)
SET IDENTITY_INSERT [dbo].[tbGrPortfolios] OFF
GO
SET IDENTITY_INSERT [dbo].[tbGrSkills] ON 

INSERT [dbo].[tbGrSkills] ([IDGrSkill], [TieuDe], [Hide]) VALUES (1, N'Professional', 0)
INSERT [dbo].[tbGrSkills] ([IDGrSkill], [TieuDe], [Hide]) VALUES (2, N'Personal', 0)
INSERT [dbo].[tbGrSkills] ([IDGrSkill], [TieuDe], [Hide]) VALUES (3, N'Software', 0)
SET IDENTITY_INSERT [dbo].[tbGrSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[tbInterest] ON 

INSERT [dbo].[tbInterest] ([IDInterest], [Icon], [TenIcon], [Background], [Hide]) VALUES (1, N'fa fa-music', N'Music', N'interest-icon', 0)
INSERT [dbo].[tbInterest] ([IDInterest], [Icon], [TenIcon], [Background], [Hide]) VALUES (2, N'fa fa-gamepad', N'Gaming', N'interest-icon-even', 0)
INSERT [dbo].[tbInterest] ([IDInterest], [Icon], [TenIcon], [Background], [Hide]) VALUES (3, N'fa fa-camera', N'Photography', N'interest-icon', 0)
SET IDENTITY_INSERT [dbo].[tbInterest] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPortfolios] ON 

INSERT [dbo].[tbPortfolios] ([IDPortfolio], [IDGrPortfolio], [TieuDe], [Portfolio], [Image], [Link], [Hide]) VALUES (1, 3, N'đá', N'aboutfdsfsd yhft tgdf', N'/files/APortfolios/2024/10/work-7.jpg', N'https://www.autotreo.com/san-pham/fb-global', 0)
INSERT [dbo].[tbPortfolios] ([IDPortfolio], [IDGrPortfolio], [TieuDe], [Portfolio], [Image], [Link], [Hide]) VALUES (2, 1, N'đắqeq', N'about', N'/files/APortfolios/2024/10/work-1.jpg', N'https://www.youtube.com/watch?v=iw-a-ywJzew', 0)
INSERT [dbo].[tbPortfolios] ([IDPortfolio], [IDGrPortfolio], [TieuDe], [Portfolio], [Image], [Link], [Hide]) VALUES (3, 2, N'eqw', N'đấ', N'/files/APortfolios/2024/10/author.png', N'https://themewagon.github.io/eflyer/fashion.html#', 0)
SET IDENTITY_INSERT [dbo].[tbPortfolios] OFF
GO
SET IDENTITY_INSERT [dbo].[tbSkills] ON 

INSERT [dbo].[tbSkills] ([IDSkill], [IDGrSkill], [Ten], [NoiDung], [PhanTram], [Hide]) VALUES (1, 1, N'HTML', N'<p><em><strong>dsadasfa sdadas</strong></em></p>
', 80, 0)
INSERT [dbo].[tbSkills] ([IDSkill], [IDGrSkill], [Ten], [NoiDung], [PhanTram], [Hide]) VALUES (2, 1, N'CSS', N'<p><strong>fsdgvs</strong></p>
', 70, 0)
INSERT [dbo].[tbSkills] ([IDSkill], [IDGrSkill], [Ten], [NoiDung], [PhanTram], [Hide]) VALUES (3, 2, N'Teamwork', N'<p><strong>dág</strong></p>
', 60, 0)
SET IDENTITY_INSERT [dbo].[tbSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[tbSliderIcons] ON 

INSERT [dbo].[tbSliderIcons] ([IDSliderIcon], [HinhAnh], [TieuDe], [Hide]) VALUES (1, N'/files/ASliderIcons/2024/10/person_4.jpg', N'Aa', 0)
INSERT [dbo].[tbSliderIcons] ([IDSliderIcon], [HinhAnh], [TieuDe], [Hide]) VALUES (2, N'/files/ASliderIcons/2024/10/image_3.jpg', N'B', 0)
INSERT [dbo].[tbSliderIcons] ([IDSliderIcon], [HinhAnh], [TieuDe], [Hide]) VALUES (3, N'/files/ASliderIcons/2024/10/image_3.jpg', N'ds', 0)
SET IDENTITY_INSERT [dbo].[tbSliderIcons] OFF
GO
SET IDENTITY_INSERT [dbo].[tbSocial] ON 

INSERT [dbo].[tbSocial] ([IDSocial], [Image], [LinkSocial], [Button], [Hide]) VALUES (1, N'fa fa-facebook', N'https://www.facebook.com/', N'social btn-floating indigo', 0)
INSERT [dbo].[tbSocial] ([IDSocial], [Image], [LinkSocial], [Button], [Hide]) VALUES (2, N'fa fa-twitter', N'https://x.com/', N'social  btn-floating blue', 1)
INSERT [dbo].[tbSocial] ([IDSocial], [Image], [LinkSocial], [Button], [Hide]) VALUES (3, N'fa fa-google-plus', N'https://support.google.com/', N'social  btn-floating red', 1)
SET IDENTITY_INSERT [dbo].[tbSocial] OFF
GO
SET IDENTITY_INSERT [dbo].[tbStory] ON 

INSERT [dbo].[tbStory] ([IDStory], [TieuDe], [NoiDung], [HinhAnh], [Link], [Ten], [NgayDang], [Hide]) VALUES (1, N'Máy Tính', N'<p><em><strong>asdcs</strong></em></p>
', N'/files/AStories/2024/10/image_1.jpg', N'https://www.youtube.com/watch?v=F9OzmPQRkUM', N'áda', CAST(N'2021-10-14' AS Date), 0)
INSERT [dbo].[tbStory] ([IDStory], [TieuDe], [NoiDung], [HinhAnh], [Link], [Ten], [NgayDang], [Hide]) VALUES (2, N'HaHa', N'<p><em><strong>ádasbdas&nbsp; dsafas fsds2312</strong></em></p>
', N'/files/AStories/2024/10/person_2.jpg', N'https://thegioiskinfood.com/collections/romand?srsltid=AfmBOoqRdBCTrsAiMd3kk-osv98aR9bR0nK49cMwQD6GPYOBHFDsenFC', N'đấ', CAST(N'2009-05-19' AS Date), 0)
INSERT [dbo].[tbStory] ([IDStory], [TieuDe], [NoiDung], [HinhAnh], [Link], [Ten], [NgayDang], [Hide]) VALUES (3, N'lala', N'dsadasd', N'/files/AStories/2024/10/image_1.jpg', N'https://www.youtube.com/watch?v=F9OzmPQRkUM', N'đá', CAST(N'2005-03-10' AS Date), 0)
SET IDENTITY_INSERT [dbo].[tbStory] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTestimonials] ON 

INSERT [dbo].[tbTestimonials] ([IDTestimonial], [TieuDe], [Ten], [MoTa], [NoiDung], [HinhAnh], [Hide]) VALUES (1, N'ABCD', N'sdadasdas', N'QƯER', N'<p><em><strong>gfdgdf</strong></em></p>
', N'/files/ATestimonials/2024/10/person_2.jpg', 0)
INSERT [dbo].[tbTestimonials] ([IDTestimonial], [TieuDe], [Ten], [MoTa], [NoiDung], [HinhAnh], [Hide]) VALUES (2, N'dsaadas', N'ấdbas', N'fsdfsdfas', N'<p><strong>fasf sdfasda sdadas</strong></p>
', N'/files/ATestimonials/2024/11/client-2.png', 0)
SET IDENTITY_INSERT [dbo].[tbTestimonials] OFF
GO
