@model IEnumerable<trimatrixlab.DBContext.tbGrSkill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ NHÓM KỸ NĂNG</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">DANH SÁCH NHÓM KỸ NĂNG</h5>
                        <a class="btn btn-success" href="/admin/AGrSkills/create">THÊM MỚI</a>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Nhóm Kỹ Năng
                                </th>
                                <th>
                                    Trạng Thái
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TieuDe)
                                </td>
                                <td style="padding-left: 30px;">
                                    @if (item.Hide != true)
                                    {
                                        <p>Hiện</p>
                                    }
                                    else
                                    {
                                        <p>   ẨN </p>
                                    }
                                </td>
                                <td>
                                    <a href="/admin/AGrSkills/edit/@item.IDGrSkill"><i class="bi bi-pencil-square"></i></a> |
                                    <a href="/admin/AGrSkills/details/@item.IDGrSkill"><i class="ri-article-line"></i></a> |
                                    <a href="/admin/AGrSkills/delete/@item.IDGrSkill"><i class="ri-delete-bin-6-line"></i></a>
                                </td>
                            </tr>
                        }

                    </table>

                </div>


            </div>
        </div>
    </section>

</main>
